<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/springBootDemo/css/login_register/Login.css">
    <script type="text/javascript" src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/springBootDemo/js/login_register/Login.js"></script>
</head>
<body>
<br><br><br><br><br><br><br><br><br><br><br>
<div id="login" align="center">
    <p align="center">登  录</p>
    <br>
    <img src="/springBootDemo/img/login_register/account.png">
    <input type="text" id="account" name="account" maxlength="15"
           style="ime-mode: disabled;" placeholder="Username"/>
    <br>
    <img src="/springBootDemo/img/login_register/password.png">
    <input type="password" id="password" name="password" maxlength="18"
           placeholder="Password"/>
    <button onclick="loginValidate()"><b>Login</b></button>

</div>
</body>
</html>